###############################################################################
# Files and directories to ignore during the Docker build process
###############################################################################
.env
secrets/
*.bak
*.swp
*.old
*.log

.git
.gitignore

__pycache__/
*.pyc
*.pyo
.DS_Store
Thumbs.db

.vscode/
.idea/
node_modules/
vendor/
tmp/
.cache/