[mysqld]
# Sets the default encoding to avoid display problems:
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Secure connections:
skip-host-cache
skip-name-resolve

# Increases the number of simultaneous connections (useful for WordPress):
max_connections = 100

# Performance optimization:
innodb_buffer_pool_size = 128M
innodb_log_file_size = 64M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50

# Enable strict mode to avoid silent SQL errors:
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"

[client]
default-character-set = utf8mb4